/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
*{
    box-sizing: border-box;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
#mostrar{
    text-align: center;
}
.card {
    display: inline-flex;
    text-align: left;
    margin: 10px;
    
}
.contenedor:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.contenedor {
    cursor: pointer;
    overflow: hidden;
}
.contenedor img {
    transition: 300ms all ease;
}
/*COMMENTS*/
.CajaComment{
    border: 1px solid black;
    margin: 10px auto;
    width: 400px;
    height: 100px;
}
.content{
    width: 100%;
    height: 700px;
    display: flex;    
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 40px;
}
.content-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: 300ms all ease;
    border-radius: 10px;
}
.content-img img{
    width: 100%;
    height: 100%;
    transition: 300ms all ease;
}
.content-img:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transition: 300ms all ease;
}

.content-text {
    width: 100%;
    height: 100%;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }    
}
@media (max-width: 600px){
    .content {
        flex-wrap: wrap;
        height: 400px;
    }
    .comment{
        margin-top: 250px;
    }
}
@media (max-width: 800px) {
    .content {
        height: 400px;
    }
}