@{
    ViewData["Title"] = "Home Page";
}

<div class="mt-5 mb-5">
    <form class="d-flex" action="/home/privacy" method="get">
        <input id="search" class="form-control me-2 mr-3" type="search" name="query" placeholder="Search" aria-label="Search" />
        <button class="btn btn-outline-success btnBuscar">Buscar</button>
    </form>
</div>
<div id="mostrar">
       
</div>
