@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="contenedor">
            <a href="/home/comment?id=@item.Id"><img src="@item.Img" class="card-img-top d" alt="..." height="350"></a>
        </div>
        <div class="card-body">
            <h5 class="card-title text-uppercase">@item.Titulo</h5>
            <p class="card-text">@item.Contenido.Substring(0, 110)... <a href="/home/comment?id=@item.Id">Leer más</a></p>
        </div>
    </div>
}