@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="card" style="width: 18rem;">
        <div class="contenedor">
            <img src="@item.Img" class="card-img-top d" alt="..." height="350">
        </div>        
        <div class="card-body">
            <h5 class="card-title">@item.Titulo</h5>
            <p class="card-text">@item.Contenido</p>
            <a href="/home/comment?id=@item.Id" class="btn btn-primary">Comentar</a>
        </div>
    </div>
}